@media (min-width: 320px) {
  .logo-image-login {
    max-width: 115px;
    /* max-height: 35px; */
  }
 }

@media (min-width: 576px) {
  .logo-image-login  {
    max-width: 140px;
    /* max-height: 35px; */
  }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .logo-image-login  {
    max-width: 145px;
  }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo-image-login  {
    max-width: 150px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logo-image-login  {
    max-width: 155px;
  }
}

.wrapper-mergin-top {
  margin-top: 115px;
}

.wrapper-login-button {
  margin-top: 10px;
  background-color: #6ab01b;
  color: #ffffff;
}

.wrapper-login {
  margin-top: 20px;
}
