<div class="container align-middle">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8 col-sm-8 col-12">
      <div class="row justify-content-center align-items-center">
        <img src="assets/logo.png" alt="OIT logo" class="img-fluid logo-image">
      </div>
      <div class="form-group">
          <label for="username"></label>
            <input type="text" class="form-control" id="usr" placeholder="Username">

            <label for="password"></label>
            <input type="password" class="form-control" id="pwd" placeholder="Password">
      </div>
      <div class="form-check-inline">
        <input type="checkbox" class="form-check-input">Remember me
      </div>
      <div>
          <button class="btn wrapper-login-button btn-block">LOGIN</button>
          <div class="d-flex justify-content-center mt-2">
            <ul class="d-inline-flex list-unstyled">
                <li><img src="assets/forget-password-logo.png" alt="forgot password logo"></li>
                <li><a href="#">Forgot password?</a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
