
<!-- <div class="d-flex justify-content-between collapse navbar-collapse">
    <div>
        <img src="assets/logo.png" alt="OIT logo" class="img-fluid logo-image" width="80px" height="80px">
    </div>
    <div>

      <div class="d-inline-flex justify-content-end">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
          <img src="assets/user-icon-logo.png" alt="user icon logo" class="img-fluid">
        </a>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Log Out</a>
          </div>
      </div>

    </div>
</div> -->

<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button> -->

  <div class="d-flex justify-content-between collapse navbar-collapse bg-dark" id="collapsibleNavbar">
      <div class="bg-light">
          <img src="assets/logo.png" alt="OIT logo" class="img-fluid logo-image" width="80px" height="80px">
      </div>

      <div>
        <div class="d-flex justify-content-end">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">
            <img src="assets/user-icon-logo.png" alt="user icon logo" class="img-fluid">
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Log Out</a>
          </div>
        </div>

      </div>
  </div>



  <!-- <div class="d-flex justify-content-between collapse navbar-collapse">

    <div>
        <img src="assets/logo.png" alt="OIT logo" class="img-fluid logo-image" width="80px" height="80px">
    </div>

    <div>
      <div class="d-inline-flex justify-content-end">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
          <img src="assets/user-icon-logo.png" alt="user icon logo" class="img-fluid">
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Log Out</a>
        </div>
      </div>

    </div>
  </div> -->
<!-- </nav> -->
