
<div class="d-flex justify-content-between collapse navbar-collapse">
  <div>
      <img src="assets/logo.png" alt="OIT logo" class="img-fluid logo-image" width="80px" height="80px">
  </div>
  <div>
      <a class="nav-link dropdown-toggle" data-toggle="dropdown">
        <img src="assets/user-icon-logo.png" alt="user icon logo" class="img-fluid">
      </a>
      <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Log Out</a>
      </div>
  </div>
</div>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reviewer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Questions</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="wrapper-dashboard">
      <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="d-flex justify-content-between collapse navbar-collapse">
                  <div>
                      <h4>Dashboard</h4>
                  </div>
                  <div>
                      <button class="btn btn-primary">View Report</button>
                  </div>
                </div>
          </div>
        </div>
  </div>
  <div class="wrapper-table">
      <div class="row">
          <div class="col">
              <table class="table table-hover table-responsive-sm table-striped table-bordered">
                  <thead class="table-primary">
                    <tr>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>John</td>
                      <td>Doe</td>
                      <td>john@example.com</td>
                    </tr>
                    <tr>
                      <td>Mary</td>
                      <td>Moe</td>
                      <td>mary@example.com</td>
                    </tr>
                    <tr>
                      <td>July</td>
                      <td>Dooley</td>
                      <td>july@example.com</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
  </div>

  <ul class="pagination-sm pagination-md pagination-lg list-unstyled d-flex justify-content-end">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>

</div>








