<app-user-nav></app-user-nav>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between">
        <div>
          <p>Total Questions: 20</p>
        </div>
        <div>
            <!-- <button (click)='startTimer()'>Start Timer</button> -->
            <!-- <button (click)='pauseTimer()'>Pause</button> -->

            <p>Time Left: {{timeLeft}} Sec</p>
        </div>
      </div>


      <form action="">

        <div class="form-group">
          <p>Demo question?</p>
        </div>
        <div class="form-group">
          <input type="radio" name="mcq-option" id="option-A" class="mr-1">
          <label for="option-A">A) option1</label>
        </div>
        <div class="form-group">
            <input type="radio" name="mcq-option" id="option-B" class="mr-1">
            <label for="option-B">B) option2</label>
        </div>
        <div class="form-group">
            <input type="radio" name="mcq-option" id="option-C" class="mr-1">
            <label for="option-C">C) option3</label>
        </div>
        <div class="form-group">
            <input type="radio" name="mcq-option" id="option-D" class="mr-1">
            <label for="option-D">D) option4</label>
        </div>


      </form>
    </div>
  </div>
</div>
